// google font
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: #0d131c;
  color: #fff;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
}

// color variables
$primary-color: #161f2c;
$secondary-color: #2283f6;
$tertiary-color: #ed1d49;

h2 {
  font-size: 24px;
}

.container {
  max-width: calc(100% - 60px);
  margin: 0 auto;
}

ul,
ol {
  list-style-type: none;
}

li {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

// fix tag
button {
  background: none;
  border: none;
  cursor: pointer;
}

:where(iframe, img, input, video, select, textarea) {
  height: auto;
  max-width: 100%;
}

:where(audio, canvas, iframe, img, svg, video) {
  vertical-align: middle;
}

/**

header component

**/
.header-box {
  background-color: $primary-color;
  height: 64px;
  vertical-align: middle;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;

  .container {
    height: 100%;
  }
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header-left {
  display: flex;
  align-items: center;
  align-items: center;
}

.logo-and-bar {
  display: flex;
  align-items: center;
  background-color: #202a39;
  transform: skewY(-3deg) skewX(-17deg);
  padding: 36px 25px 16px 66px;
  margin: -30px 0 -20px -65px;
  border-radius: 10px;
}

.header-right {
  display: flex;
  align-items: center;

  .btn-container {
    all: inherit;

    > .button {
      margin-left: 12px;

      &.btn-wallet {
        display: flex;

        .button-text {
          line-height: 20px;
        }
      }
    }
  }

  button {
    font-size: 14px;
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    margin-left: 12px;

    &:first-of-type {
      &:not(.chat-btn, .btn-wallet) {
        background-color: $secondary-color;
        padding: 10px 14px;
        color: #fff;

        &:hover {
          background-color: #1f77e4;
        }
      }
    }

    &:nth-of-type(2) {
      &:not(.notify-btn) {
        background-color: $tertiary-color;
        padding: 10px 14px;
        color: #fff;

        &:hover {
          background-color: #cb1c42;
        }
      }
    }
  }
}

.logo-and-bar-content {
  transform: skewY(3deg) skewX(17deg);
  display: flex;
  align-items: center;
  gap: 1rem;

  button {
    font-size: 20px;
    color: #55657e;

    &:hover {
      color: #fff;
    }
  }

  img {
    width: 80%;
  }
}

.header-left-btn {
  display: flex;
  align-items: center;
  background-color: #202a39;
  border-radius: 50px;
  margin-left: 1.4rem;
  overflow: hidden;
  position: relative;

  &.gaming {
    &::after {
      content: "";
      position: absolute;
      height: 100%;
      background-color: $secondary-color;
      width: 56%;
      left: 0;
      top: 0;
      border-radius: 50px;
      z-index: 9;
      transition: all 0.15s;
    }

    button {
      color: #fff;
    }
  }

  &.sport {
    &::after {
      content: "";
      position: absolute;
      height: 100%;
      background-color: $secondary-color;
      width: 45%;
      left: 55%;
      top: 0;
      border-radius: 50px;
      z-index: 9;
      transition: all 0.15s;
    }

    button {
      color: #fff;
    }
  }

  button {
    color: #93acd3;
    padding: 5px 20px;
    position: relative;
    z-index: 99;
  }
}

.gaming,
.sport {
  display: flex;
  align-items: center;

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.modals-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 500;
}

.modal-wrapper {
  font-family: "Montserrat", sans-serif;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  white-space: nowrap;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 16px;
  background-color: rgba(3, 11, 21, 0.85);

  > div {
    width: 100%;
    text-align: left;
    position: relative;
    white-space: normal;
    overflow: hidden;
    border-radius: 12px;
    opacity: 1;
  }

  &::before,
  > div {
    display: inline-block;
    vertical-align: middle;
  }

  &::before {
    content: "";
    height: 100%;
    width: 0;
  }
}

.modal {
  overflow: hidden;
  position: relative;
  border-radius: 14px;
  background-color: #111923;

  &.modal-resetpasswordfirst,
  &.modal-depositwithdraw {
    &::before {
      pointer-events: none;
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 72px;
      background: linear-gradient(180deg, #003370, transparent);
      border-radius: 14px 14px 0 0;
    }
  }
}

.modal-intro,
.modal-depositwithdraw {
  .modal-container {
    padding: 0;
    display: flex;
  }
}

.modal-container {
  position: relative;
  z-index: 2;
  min-height: 62px;
  padding: 24px;
  color: #fff;
}

.modal-btn-close {
  width: 38px;
  height: 38px;
  border: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 38px;
  background-color: transparent;
  color: #93acd3;
  padding: 0;
  position: absolute;
  top: 6px;
  right: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  z-index: 10;
  transition: color 0.1s ease-in-out;

  &:hover {
    color: #fff;
  }
}

.modal-intro-intro {
  width: 50%;
  padding: 32px;
  background: url("../../assets/images/login-signup/login-bg-intro.jpg")
      no-repeat 50%,
    linear-gradient(
      180deg,
      rgba(237, 29, 73, 0.65),
      transparent 50%,
      rgba(1, 72, 160, 0.85)
    );
  background-size: cover;
  min-height: 550px;
  text-align: center;

  p {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
  }
}

.modal-intro-content {
  padding: 32px;
  width: 50%;
}

.modal-login-head {
  margin-bottom: 24px;
}

.button-red {
  &.button {
    background-color: #ed1d49;
    color: #fff;
    border-color: transparent;
  }

  &:hover {
    background-color: #c31d40;
  }
}

.button-tab {
  -moz-appearance: none;
  -webkit-appearance: none;
  text-decoration: none;
  align-items: center;
  display: inline-flex;
  vertical-align: middle;
  justify-content: flex-start;
  font-weight: 600;
  line-height: 1.5;
  position: relative;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out,
    border-color 0.1s ease-in-out;
  border: 2px solid transparent;
  color: #93acd3;
  background-color: transparent;
  user-select: none;

  &.active,
  &:disabled {
    cursor: default;
    background-color: #2283f6;
    opacity: 1;
  }

  &.active,
  &:active,
  &:focus,
  &:hover {
    color: #fff;
  }

  span {
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
  }

  i {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.5em;
    width: 1.5em;
    font-size: 14px;
    color: #93acd3;
    transition: color 0.1s ease-in-out;
  }

  &.active,
  &:hover {
    i {
      color: #fff;
    }
  }
}

.button-tab-sm {
  font-size: 12px;
  border-radius: 3rem;
  padding: 5px 10px;
  font-family: "Montserrat", sans-serif;
}

.button-tab-md {
  font-size: 14px;
  border-radius: 10px;
  padding: 8px 12px;
  border-radius: 3rem;

  i {
    &:first-child:not(:last-child) {
      margin-left: -4px;
    }
    ~ span {
      margin-left: 8px;
    }
  }
}

.modal-login-footer {
  margin: 0;
  font-size: 11px;
  font-weight: 500;

  button {
    padding: 0;
    border: 0;
    color: #2283f6;
    text-decoration: underline;
    font-family: "Montserrat", sans-serif;
    font-size: 11px;
    font-weight: 500;
    margin-left: 2px;
  }
}

.modal-login-body {
  flex: 1 1;
  .hint {
    font-size: 11px;
    font-weight: 500;
    color: #55657e;
    line-height: 1.2;

    &.hidden {
      display: none;
    }
  }
}

.modal-login-inputs {
  margin-bottom: 16px;

  .input {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.input {
  width: 100%;

  &.input-md {
    &.hidden {
      display: none;
    }
  }
}

.input-md {
  .input-inner {
    height: 44px;
    border-radius: 10px;
    padding: 0 14px;

    button {
      border-radius: 6px;
      margin-left: 8px;
      margin-right: -7px;
    }
  }

  .input-icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    margin-left: -4px;
  }

  .input-tag {
    line-height: 20px;
    font-size: 14px;
    padding: 0;
    border: none;
    height: 20px;
  }

  .input-btn-clear,
  .input-btn-successful {
    width: 20px;
    height: 20px;
  }

  .input-btn-clear {
    padding: 0.25em 0.375em;

    svg {
      width: 90%;
      height: 90%;
    }
  }

  .input-btn-successful {
    svg {
      width: 80%;
      height: 80%;
    }
  }
}

.input-btn-clear,
.input-btn-successful {
  outline: none;
  display: none;
  align-items: center;
  justify-content: center;

  svg {
    color: #55657e;
    transition: color 0.1s ease-in-out;
  }

  &:hover {
    svg {
      color: #fff;
    }
  }

  &.visible {
    display: flex !important;
  }
}

.button-sm {
  &.button {
    font-size: 11px;
  }

  &.button-only-icon {
    padding: 4px;
  }

  &:not(.button-only-icon) {
    padding: 4px 8px;
  }

  .button-icon {
    width: 16px;
    height: 16px;
  }

  .button-text {
    font-size: 11px;
    line-height: 16px;
  }
}

.button-text {
  font-weight: 600;
  white-space: nowrap;
}

.button-blue {
  transition: all 0.1s ease-in-out;

  &.button {
    background-color: #2283f6;
    color: #fff;
    border-color: transparent;
  }

  &:focus,
  &:hover {
    background: #0b6ada;
    color: #fff;
  }

  .button-icon {
    svg {
      fill: #fff;
      width: 70%;
      height: 70%;
    }
  }
}

.button-center {
  .button-inner {
    justify-content: center;
  }
}

.button-fullwidth {
  justify-content: center;
  display: flex;
  width: 100%;
}

.button-icon,
.button-inner {
  display: flex;
  align-items: center;
}

.button-inner {
  width: 100%;
}

.promoBtn {
  display: none;

  &.visible {
    display: inline-block;
  }
}

.input-tag {
  width: 0;
  flex: 1 1;
  display: block;
  font-weight: 600;
  color: #fff;
  outline: none;
  background-color: transparent;

  &::placeholder {
    color: #55657e;
    font-family: "Montserrat", sans-serif;
  }
}

.input-inner {
  position: relative;
  display: flex;
  align-items: center;
  border: 2px solid #2a3546;
  transition: color 0.1s ease-in-out, border-color 0.1s ease-in-out;

  &:hover,
  &:focus,
  &:focus-within {
    border-color: #55657e;
  }
}

.input-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  pointer-events: none;
  color: #55657e;

  svg {
    width: 70%;
    height: 70%;
    fill: #55657e;
    transition: fill 0.1s ease-in-out;
  }
}

a {
  color: #2283f6;
  text-decoration: underline;
  padding: 0;
  border: none;
  cursor: pointer;
  transition: color 0.1s ease-in-out;

  &:hover {
    color: #096adc;
  }
}

form {
  a {
    font-size: 11px;
  }

  label {
    span {
      font-size: 11px;
      color: #55657e;
      line-height: 1.2;
    }
  }
}

span {
  font-weight: 600;
  display: inline-block;
  transition: color 0.1s ease-in-out;
}

p {
  margin-bottom: 1rem;
}

.button-lg {
  &:not(.button-only-icon) {
    padding: 10px 14px;

    .button-icon {
      &:first-child:not(:last-child) {
        margin-left: -2px;
        margin-right: 6px;
      }
    }
  }

  &.button {
    border-radius: 10px;
    font-size: 14px;
  }

  .button-text {
    font-size: 14px;
    line-height: 24px;
  }

  &.button-only-icon {
    padding: 10px;

    .button-icon {
      width: 24px;
      height: 24px;

      svg {
        width: 18px;
        height: 18px;
      }
    }
  }
}

.button-text {
  font-weight: 600;
}

form {
  [type="submit"],
  .button-submit {
    margin-top: 16px;
  }
}

.login-variants {
  margin-top: 24px;
  margin-bottom: 16px;

  button {
    margin-right: 8px;
  }
}

.login-variants-label {
  color: #55657e;
  font-size: 11px;
  font-weight: 500;
}

.login-variants-row {
  display: flex;
  transition: opacity 0.1s ease-in-out;
  margin-top: 8px;

  .variant-btn {
    &:hover {
      opacity: 1;
    }
  }
}

.variant,
.variant-btn {
  display: flex;
  justify-content: center;
}

.variant {
  position: relative;
  flex-wrap: wrap;

  &:hover {
    .variant-tooltip {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.variant-tooltip {
  pointer-events: none;
  position: absolute;
  bottom: calc(100% + 8px);
  font-weight: 800;
  font-size: 9px;
  color: #55657e;
  background-color: #202a39;
  border-radius: 100px;
  padding: 2px 5px;
  opacity: 0;
  transform: translateY(50%);
  white-space: nowrap;
  margin-left: -8px;
  transition: transform 0.1s ease-in-out;
}

.variant-btn {
  width: 44px;
  height: 44px;
  text-align: center;
  align-items: center;
  overflow: hidden;
  border-radius: 10px;

  &.bg-telegram {
    background-color: #37aee2;
    padding: 0;

    svg {
      color: #fff;
    }
  }

  &.bg-gmail,
  &.bg-metamask {
    background-color: #fff;

    svg {
      color: #202a39;
    }
  }

  &.bg-tron {
    background-color: #ec0928;
  }

  &.bg-binance {
    background-color: #1e2025;
  }

  &.bg-coin98 {
    background-color: #d9b432;
  }

  svg {
    transform: translateZ(0);
    width: 24px;
    height: 24px;
  }

  img {
    width: 24px;
    height: 24px;
  }
}

.forgot-pwd {
  &.hidden {
    display: none;
  }
}

.modal-login-check-block {
  &.hidden {
    display: none;
  }

  span {
    &.hidden {
      display: none;
    }
  }
}

.modal-login {
  .checkbox {
    margin-bottom: 10px;
  }
}

.checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.modal-login-captcha {
  position: relative;

  &.hidden {
    display: none;
  }
}

.captcha {
  margin-top: 16px;
}

.main-body-box {
  display: flex;
}
.main-content-box {
  background-color: #0c121b;
  color: wheat;
  height: 100vh;
  width: 100%;
  margin-top: 64px;
  margin-left: 232px;
  padding: 30px;
  height: calc(100vh - 64px);
  overflow-y: scroll;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);

  &.fluid {
    margin-left: 0;
    width: 1088px;
    margin: 64px auto 0 auto;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.sidebar-box {
  background-color: #111923;
  width: 248px;
  height: calc(100vh - 64px);
  position: fixed;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  transform: translateX(-248px);
  padding: 28px 20px 32px;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);

  &.active {
    transform: translateX(0);
  }

  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 2px;
  }

  &:hover {
    &.active {
      &::-webkit-scrollbar-thumb {
        background-color: #2a3546;
      }

      &::-webkit-scrollbar-track {
        background-color: rgba(13, 19, 28, 0.8);
      }
    }
  }
}

.promotion-sidebar-box {
  padding: 12px;
  width: 100%;
  border-radius: 8px;
  transition: all 0.3s;

  .title {
    font-size: 14px;
    font-weight: 600;
    margin-left: 8px;
  }

  button {
    div {
      svg {
        transition: all 0.2s;
        transform: rotate(0deg);
      }
    }
  }

  &.active {
    ul {
      display: block;
    }

    button {
      div {
        svg {
          transform: rotate(180deg);
        }
      }
    }

    .title {
      color: #fff;
    }
  }

  &.active,
  &:hover {
    background-color: rgba(147, 172, 211, 0.2);
  }

  ul {
    display: none;
    padding-top: 1rem;

    li {
      padding: 6px 0;

      &:first-child {
        padding-top: 0;
      }

      &:last-child {
        padding-bottom: 0;
      }

      a {
        font-size: 12px;
        font-weight: 600;
        color: #93acd3;
        transition: color 0.1s ease-in-out;
      }

      &:hover {
        a {
          color: #fff;
        }
      }

      span {
        margin-left: 4px;
      }
    }
  }

  button {
    display: flex;
    align-items: center;
    color: #93acd3;
    gap: 6px;
    width: 100%;
    font-size: 16px;

    div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
  }
}

.underlined-box {
  position: relative;
  background-color: #111923;
  padding: 16px;

  &::after {
    content: "";
    position: absolute;
    height: 1px;
    left: 12px;
    right: 12px;
    background-color: #2a3546;
  }
}

.primary-menu {
  position: relative;

  .primary-menu-item {
    position: relative;
    margin-bottom: 4px;
    border-radius: 8px;
    background-color: transparent;
    transition: background-color 0.1s ease-in-out;

    span {
      font-family: "Montserrat", sans-serif;
    }

    &:hover,
    &.active {
      background-color: #202a39;
    }

    &.active {
      .primary-menu-item-link {
        span {
          color: #fff;
        }
      }

      ul {
        display: block;
      }

      button {
        .toggle-btn-pair {
          svg {
            transform: rotate(180deg);
          }
        }
      }

      .submenu-title {
        color: #fff;
      }
    }

    button {
      width: 100%;

      .toggle-btn-pair {
        svg {
          transform: rotate(0deg);
          transition: all 0.2s;
        }
      }
    }

    ul {
      padding-bottom: 6px;
      display: none;

      li {
        position: relative;
        margin-bottom: 2px;

        a {
          text-decoration: none;
          font-weight: 600;
          font-size: 12px;
          line-height: 1.3333;
          display: flex;
          align-items: center;
          white-space: nowrap;
          width: 100%;
          padding: 5px 12px;

          .font-icon-wrapper {
            width: 16px;
            height: 16px;
          }

          span {
            margin-left: 4px;
            margin-right: 4px;
            font-size: 12px;
            font-weight: 600;
            color: #93acd3;
            transition: color 0.1s ease-in-out;
          }
        }

        &:hover {
          a {
            span {
              color: #fff;
            }
          }
        }
      }
    }

    .primary-menu-item-link,
    button {
      text-decoration: none;
      display: flex;
      align-items: center;
      position: relative;
      cursor: pointer;
      padding: 8px 12px;
      font-size: 18px;

      img,
      .font-icon-wrapper {
        width: 24px;
        height: 24px;
      }

      span {
        margin-left: 8px;
        font-size: 14px;
        color: #93acd3;
        font-weight: 600;
        transition: color 0.1s ease-in-out;
      }

      .toggle-btn-pair {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        padding-right: 4px;
      }
    }
  }
}

.secondary-menu {
  display: flex;
  flex-direction: column;
  position: relative;

  .secondary-menu-link {
    text-decoration: none;
    line-height: 16px;
    font-size: 12px;
    display: flex;
    align-items: center;
    padding: 6px 12px;

    span {
      font-weight: 600;
      color: #55657e;
      transition: color 0.1s ease-in-out;
    }

    .font-icon-wrapper {
      margin-left: 4px;
      width: 12px;
      height: 12px;
    }

    &:hover {
      span {
        color: #fff;
      }
    }
  }
}

.left-menu-container-bonuses {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 48px 48px;
  grid-gap: 8px;
  gap: 8px;
  margin-bottom: 12px;

  .bonus {
    position: relative;
    padding: 0px;

    .bonus-inner {
      border-radius: 8px;
      position: relative;
      padding: 8px;
      height: 100%;
      overflow: hidden;

      .bonus-label {
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        span {
          font-size: 13px;
          transition: color 0.1s ease-in-out;

          &:first-child {
            color: #fff;
            font-weight: 900;
          }

          &:last-child {
            color: hsla(0, 0%, 100%, 0.65);
            font-weight: 700;
          }
        }
      }

      .bonus-bg {
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        display: block;
        pointer-events: none;
      }

      .wheel-amin {
        pointer-events: none;

        .wheel-amin-wheel-wrap {
          position: absolute;
          width: 52px;
          height: 52px;
          right: -14px;
          bottom: -14px;
          animation: rolling-wheel 3s linear infinite;
          animation-play-state: running;

          .wheel-amin-wheel {
            display: block;
            width: 52px;
            height: 52px;
            animation: rolling-wheel 6s linear infinite;
            animation-play-state: paused;
          }
        }

        .wheel-amin-wheel-center {
          position: absolute;
          width: 18px;
          right: 3px;
          bottom: 2px;
        }

        .wheel-amin-coin-lg {
          position: absolute;
          top: 6px;
          right: 16px;
          width: 30px;
          animation: coin-lg-data 4s linear infinite;
        }

        .wheel-amin-coin-sm {
          position: absolute;
          width: 22px;
          top: -3px;
          right: 4px;
          animation: coin-sm-data 4s linear infinite;
        }
      }

      img {
        height: auto;
        max-width: 100%;
      }

      &.bonus-cashback {
        &::after {
          opacity: 0.4;
          background: radial-gradient(
              84.81% 128.48% at 87.97% 106.82%,
              #f90 0,
              #1c2532 100%
            ),
            #1c2532;
        }
      }

      &.bonus-rakeback {
        &::after {
          opacity: 0.5;
          background: radial-gradient(
              100% 151.49% at 103.16% 135.23%,
              #2ddc54 0,
              #1c2532 100%
            ),
            #1c2532;
          border-radius: 8px;
        }
      }

      &.bonus-furycharge {
        .bonus-label {
          span {
            &:last-child {
              font-size: 8.5px;
            }
          }
        }

        &::after {
          opacity: 0.5;
          background: radial-gradient(
              87.97% 133.28% at 91.14% 111.36%,
              rgba(0, 117, 255, 0.8) 0,
              rgba(28, 37, 50, 0.8) 100%
            ),
            #1c2532;
        }
      }

      &.bonus-furywheel {
        .bonus-label {
          span {
            &:last-child {
              font-size: 10px;
            }
          }
        }

        &::after {
          opacity: 0.5;
          background: radial-gradient(
              100% 151.49% at 103.16% 135.23%,
              #5200ff 0,
              #1c2532 100%
            ),
            linear-gradient(0deg, #1c2532, #1c2532);
        }
      }

      &::after {
        z-index: -1;
        position: absolute;
        top: 0px;
        left: 0px;
        display: block;
        content: "";
        width: 100%;
        height: 100%;
        transition: opacity 0.1s ease-in-out;
      }
    }

    &:hover {
      .bonus-inner {
        &::after {
          opacity: 0.8;
        }
        .wheel-amin {
          .wheel-amin-wheel-wrap {
            animation-play-state: paused;

            .wheel-amin-wheel {
              animation-play-state: running;
            }
          }
        }
      }
    }
  }
}

.left-menu-container-footer {
  position: relative;

  .button {
    margin-bottom: 12px;
    justify-content: center;
    color: #fff;
    font-weight: 500;

    &.button-grey1 {
      background-color: #1c2532;
      color: #55657e;
      border-color: transparent;
    }
  }

  .button-fullwidth {
    justify-content: center;
    display: flex;
    width: 100%;
  }
}

.social-icons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  grid-gap: 8px;
  gap: 8px;

  .social-icon {
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #55657e;
    cursor: pointer;
    transition: color 0.1s ease-in-out;

    &:hover {
      color: #fff;
    }
  }
}

.button-left {
  .button-inner {
    justify-content: flex-start;
  }
}

.button-inner,
.button-icon {
  display: flex;
  align-items: center;
}

.button-inner {
  width: 100%;
}

.button-icon {
  justify-content: center;
  flex-shrink: 0;
  font-size: 14px;

  svg {
    display: block;
    transition: fill 0.1s ease-in-out;
  }
}

.button-md {
  &:not(.button-only-icon) {
    padding: 6px 10px;
  }

  &.button {
    border-radius: 10px;
    font-size: 12px;
  }

  .button-icon {
    width: 14px;
    height: 14px;

    &:first-child,
    &:not(:last-child) {
      margin-left: -2px;
      margin-right: 4px;
    }
  }

  .button-text {
    font-size: 12px;
    line-height: 20px;
  }
}

.button-text {
  font-weight: 600;
  white-space: nowrap;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

.button-grey1 {
  &.button {
    background-color: #1c2532;
    color: #55657e;
    border-color: transparent;
  }

  .button-icon {
    transition: all 0.1s ease-in-out;

    svg {
      fill: #55657e;
    }
  }

  &:hover {
    background-color: #202a39 !important;
    color: #93acd3 !important;
  }
}

.button-grey2 {
  &.button {
    background-color: #2a3546;
    color: #93acd3;
    border-color: transparent;
  }

  &:hover {
    background-color: #202a39;
    color: #93acd3;
  }
}

.dropdown {
  position: relative;
}

.dropdown-fullwidth {
  display: block;
  width: 100%;
}

.dropdown-md {
  .dropdown-trigger {
    font-size: 12px;
    border-radius: 10px;
    padding: 5px 9px;
    border-width: 1px;

    div {
      &.icon {
        margin-left: -4px;
        margin-right: 3px;
        width: 20px;
        height: 20px;
      }
    }

    span {
      &.text {
        flex: 1 1;
        white-space: nowrap;
        display: flex;
        align-items: center;
      }
    }
  }

  .dropdown-inner {
    margin-top: 6px;
    margin-bottom: 6px;
    z-index: 2;
  }

  .dropdown-content {
    z-index: 1;
    font-size: 12px;
  }
}

.dropdown-top {
  .dropdown-inner {
    right: 0;
    left: 0;
    bottom: 100%;
    margin-top: 0px !important;
  }
}

.dropdown-inner {
  z-index: 1;
  position: absolute;
  transform: translateY(0);
}

.dropdown-content {
  background-color: #1c2532;
  border-color: #1c2532;
  border-style: solid;
  box-shadow: 2px 2px 20px rgb(0 0 0 / 30%);
  padding: 3px;
  border-radius: 10px;
  border-width: 1px;
  display: none;

  .input {
    margin-bottom: 6px;
  }
}

.dropdown-menu-inner {
  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  &::-webkit-scrollbar,
  &::-webkit-scrollbar-track {
    background-color: rgba(13, 19, 28, 0.8);
    border-radius: 2px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #2a3546;
  }
}

.dropdown-opened {
  .dropdown-content {
    display: block;
  }

  .dropdown-trigger {
    .font-icon-wrapper {
      svg {
        transform: rotate(180deg);
      }
    }

    svg {
      transform: rotate(180deg);
    }
  }
}

.dropdown-menu-md {
  .dropdown-menu-link {
    border-radius: 6px;
    padding: 6px;

    div {
      &.icon {
        margin-left: -4px;
        margin-right: 3px;
        width: 20px;
        height: 20px;
      }
    }

    span {
      &.text {
        line-height: 20px;
      }
    }
  }
}

.dropdown-menu-link {
  display: flex;
  align-items: center;
  text-align: left;
  width: 100%;
  padding: 0;
  color: #55657e;
  transition: color 0.1s ease-in-out;

  > div {
    &.icon {
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 73%;
      }
    }
  }

  > span {
    &.text {
      flex: 1 1;
      white-space: nowrap;
      display: flex;
      align-items: center;
      text-overflow: ellipsis;
      overflow-x: hidden;
      transition: color 0.1s ease-in-out;
      font-family: "Montserrat", sans-serif;
      &:hover {
        color: #fff;
      }
    }
  }
}

.dropdown-menu-item {
  border-radius: 6px;
  &.current {
    background-color: #2a3546;

    .dropdown-menu-link {
      span {
        &.text {
          color: #fff;
        }
      }
    }
  }
}

.dropdown-trigger,
.dropdown-trigger-custom {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  background-color: #202a39;
  padding-right: 8px;

  > div {
    &.icon {
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 73%;
      }
    }
  }

  > span {
    &.text {
      flex: 1 1;
      white-space: nowrap;
      display: flex;
      align-items: center;
    }
  }
}

.dropdown-trigger {
  background-color: #1c2532;
  border-color: #1c2532;
  border-style: solid;
  transition: background-color 0.1s ease-in-out, border-color 0.1s ease-in-out;

  .font-icon-wrapper {
    svg {
      transform: rotate(0deg);
      transition: transform 0.2s;
    }
  }

  div {
    &.icon {
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 73%;
      }
    }
  }

  > span {
    &.text {
      text-overflow: ellipsis;
      overflow-x: hidden;
      white-space: nowrap;
      color: #fff;
    }
  }

  &:hover,
  &:focus {
    background-color: #2a3546;
    border-color: #2a3546;
  }
}

.font-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes rolling-wheel {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}

@keyframes coin-lg-data {
  0% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(4px) scale(1.2);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}

@keyframes coin-sm-data {
  0% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(2px) scale(1.2);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}

.check-box {
  label {
    height: 24px;
    width: 24px;
    margin-right: 8px;
    background-color: #202a39;
    display: block;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    span {
      position: absolute;
      font-size: 10px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    span,
    input {
      display: none;
    }

    input:checked ~ span {
      background-color: #2ddc4b;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #000;
      font-size: 12px;
    }
  }
}

.header-left-btn {
  button {
    span {
      font-size: 14px;
      font-weight: 600;
      color: #93acd3;
      font-family: "Montserrat", sans-serif;

      &.icon {
        margin-right: 2px;
      }
    }
  }

  &.gaming {
    button {
      &.gaming {
        span {
          color: #fff;
        }
      }
    }
  }

  &.sport {
    button {
      &.sport {
        span {
          color: #fff;
        }
      }
    }
  }
}

.modal-resetpasswordfirst-head {
  margin-bottom: 24px;
}

.modal-resetpasswordfirst-body {
  margin-bottom: 24px;
}

.input-block {
  margin-bottom: 24px;
}

.input-block-label {
  display: inline-block;
  color: #55657e;
  margin-bottom: 4px;
  font-size: 14px;
}

.btns-group {
  display: grid;
  grid-column-gap: 8px;
  column-gap: 8px;
  grid-template-columns: auto 1fr;
  margin-bottom: 24px;
}

.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  text-decoration: none;
  align-items: center;
  position: relative;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  outline: none;
  display: inline-block;
  transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out,
    border-color 0.1s ease-in-out;
}

.chat-btn,
.notify-btn {
  position: relative;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 8px;
  margin: 0 5px;
  color: #55657e;
  transition: color 0.1s ease-in-out;

  &:hover {
    color: #93acd3;
  }
}

.chat-btn-inner,
.notify-btn-inner {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  font-size: 24px;
}

.btn-container {
  &.no-logged {
    margin-right: 22px;
  }
}

.notify-btn {
  margin-left: 18px;
}

.chat-btn,
.notify-btn {
  .amount {
    min-width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    padding-left: 5px;
    padding-right: 5px;
    position: absolute;
    top: -40%;
    right: -50%;
    font-size: 12px;
    border: 1px solid #161f2c;
    letter-spacing: -0.02em;
    font-feature-settings: "tnum" on, "lnum" on;
    font-weight: 600;
    color: #fff;
  }
}

.notify-btn {
  .amount {
    background-color: #2ddc4b;
  }
}

.chat-btn {
  .amount {
    background-color: #55657e;
  }
}

.balance-wrapper {
  background-color: #202a39;
  height: 40px;
  padding-right: 28px;
  padding-left: 12px;
  margin-right: -22px;
  border-radius: 10px 0 0 10px;

  .icon-arrow {
    margin-left: 10px !important;
  }
}

.balance {
  display: flex;
  align-items: center;
}

.balance-currency-wrap {
  position: relative;
  padding-top: 5px;
}

.currency {
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;

  span {
    span {
      line-height: inherit;
      font-size: inherit;
    }
  }
}

.currency-icon {
  flex-shrink: 0;
  margin-right: 0.5rem;
}

.currency-balances {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.currency-balances-balance {
  line-height: 18px;
}

.font-digits {
  font-family: "Numbers", "Montserrat";
  font-weight: 600;
  letter-spacing: -0.5px;
  white-space: nowrap;
}

.dropdown-lg {
  .dropdown-trigger-custom,
  .dropdown-trigger {
    font-size: 12px;
    color: #93acd3;
    transition: all 0.1s ease-in-out;

    .icon-arrow {
      margin-left: 8px;
      margin-right: -4px;
    }

    > div {
      &.icon {
        margin-left: -4.8px;
        margin-right: 6px;
        width: 24px;
        height: 24px;
      }
    }

    > span {
      &.text {
        line-height: 24px;
      }
    }
  }

  .dropdown-trigger {
    font-size: 14px;
    border-radius: 10px;
    padding: 8px 12px;
    border-width: 2px;
  }

  .dropdown-inner {
    margin-top: 8px;
    margin-bottom: 8px;
    z-index: 2;
  }

  .dropdown-content {
    z-index: 1;
    font-size: 14px;
    padding: 2px;
    border-radius: 10px;
    border-width: 2px;
  }
}

.dropdown-bottomRight,
.dropdown-topRight {
  .dropdown-inner {
    right: 0;
  }
}

.dropdown-bottom,
.dropdown-bottomLeft,
.dropdown-bottomRight {
  .icon-arrow {
    pointer-events: none;
    transform: rotate(0deg);
    transition: transform 0.1s ease-in-out;
  }

  &.profile-wrapper {
    &:hover {
      .icon-arrow {
        transform: rotate(180deg);
      }
    }
  }

  .dropdown-inner {
    top: 100%;
    margin-bottom: 0 !important;
  }
}

.profile-wrapper {
  margin-left: 20px;
  position: relative;

  .font-icon-wrapper {
    width: 24px;
    height: 24px;
  }

  .icon-arrow {
    right: 8px !important;
    margin-left: 0 !important;
  }
}

.profile {
  display: flex;
  position: relative;
  flex-direction: column;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.profile-arc,
.profile-avatar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.user {
  display: flex;
  align-items: center;
}

.user-avatar {
  position: relative;
  flex-shrink: 0;
}

.user-inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  border-radius: 50%;

  img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    user-select: none;
    pointer-events: none;
    display: block;
    width: auto;
    height: 100%;
    max-width: none;
  }
}

.modal-depositwithdraw {
  background-color: #111923;
  .dropdown {
    z-index: 4;
  }

  .select-chain-overlay {
    filter: none !important;
    position: absolute;
    background: rgba(17, 25, 35, 0.9);
    width: 100%;
    height: calc(100% - 120px);
    z-index: 10;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      text-align: center;
      font-size: 20px;
      font-weight: 500;
      color: #fff;
    }
  }
}

.modal-depositwithdraw-tabs {
  padding: 32px;
  width: 225px;
}

.modal-depositwithdraw-body {
  position: relative;
  flex: 1 1;
  padding: 24px;
  background-color: #111923;
}

.tabs {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.tabs-body {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  overflow-y: auto;

  button {
    margin-bottom: 4px;
  }
}

.tabs-footer {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.warning {
  p {
    color: #55657e;
    font-size: 11px;
    line-height: 16px;
    margin-bottom: 8px;
  }
}

.body {
  height: 100%;
}

.body-title {
  z-index: 9;
  position: relative;
}

.currencies {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 16px;
  column-gap: 16px;
  margin-bottom: 16px;
  z-index: 11;
  position: relative;
}

.icon,
.tooltip-empty {
  width: 22px;
  height: 22px;
}

.dropdown-is-error {
  .dropdown-trigger {
    border-color: #ed1d49;
  }
}

.dropdown-menu-lg {
  .dropdown-menu-link {
    border-radius: 6px;
    padding: 8px 10px;

    > div {
      &.icon {
        margin-left: -4.8px;
        margin-right: 6px;
        width: 24px;
        height: 24px;
      }
    }

    > span {
      &.text {
        line-height: 24px;
      }
    }
  }
}

.tab-deposit {
  .qr-block {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;

    .qr-texts {
      display: flex;
      flex-direction: column;
      font-size: 11px;
      color: #55657e;

      p {
        margin-bottom: 0;
      }
    }

    .qr {
      border-radius: 10px;
      margin-left: 15px;
    }
  }

  .min-dep {
    background: #1c2532;
    border-radius: 8px;
    padding: 8px 10px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 8px !important;
  }
}

.dropdown-menu-link-selected {
  color: #fff;
  pointer-events: none;
  background-color: #2a3546;
}

.dropdown-menu-inner-has-scroll {
  padding-right: 4px;
}

.is-wallet {
  display: flex;
  width: 100%;

  .currency-label {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #93acd3;

    &:hover {
      color: #fff;
    }
  }

  .currency-balances {
    margin-left: auto;
  }
}

.currency-label {
  margin-right: 6px;
  letter-spacing: -0.02em;
}
